<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Prism.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Prism.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Akit5" publicKeyToken="a70cba4ef557ee03" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.15.0.0" newVersion="5.15.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2023.0.0.0" newVersion="2023.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Drawing" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2023.0.0.0" newVersion="2023.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Dialog" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2023.0.0.0" newVersion="2023.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Model" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2023.0.0.0" newVersion="2023.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Datatype" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2023.0.0.0" newVersion="2023.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Tekla.Structures.Catalogs" publicKeyToken="2f04dbe497b71114" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2023.0.0.0" newVersion="2023.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Prism.Properties.Settings>
      <setting name="UniqueId" serializeAs="String">
        <value>Default</value>
      </setting>
    </Prism.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Prism.Properties.Settings>
      <setting name="Prism_ExternalService_WebService1" serializeAs="String">
        <value>http://localhost:55591/ExternalService.asmx</value>
      </setting>
    </Prism.Properties.Settings>
  </applicationSettings>
</configuration>